/*
 * Copyright 2008 DataNucleus. All Rights Reserved.
 */

/** Overall layout of the page - wider margin at sides, white background. */
#layout
{
    margin: 5px 10px 5px 10px;
    padding: 0px 0px 0px 0px;
    background-color: #fff;
    color: #000;
}

#navigation
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background-color: #c2d9e0;
    color: #000;
}

#footer
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-top: 0px solid #000;
    border-bottom: 0px solid #000;
    background-color: #fff;
    color: #aaa;
    font-size: x-small;
    text-align: center;
    cellpadding: 0px;
    cellspacing: 0px;
    height: 16px;
}

body
{
    margin: 0px 0px 0px 0px;
}

img 
{
    border:none;
}

table 
{
    padding:0px;
    width: 100%;
}

TH
{
    color: #74a3db;
}

TABLE.body
{
    border-color: #dadada;
    border-style: solid;
    border-collapse: collapse;
    padding:0px;
    width: 100%;
}

TD.footer
{
    color: #74a3db;
    font-size: x-small;
    text-align: center;
}

td.on {background:#9c9;}
th.on {background:#9c9;}

.section
{
    padding: 4px;
}

.source 
{
    background-color: #eee;
    padding: 12px;
    margin: 1em 7px 1em 7px;
}
.source pre
{
    margin: 0px;
    padding: 0px;
}

/* Default font */
body, td, select, input, li, ul
{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

a
{
    text-decoration: none;
}

a[name]:hover, #leftcol a[name]:hover
{
    color: inherit !important;
}

a:link.selfref, a:visited.selfref
{
    color: #1a2ad7 !important;
}

a:link, .app a:visited, .tasknav a:visited
{
    color: #1a2ad7;
}
a:active, a:hover, a:visited, #leftcol a:active, #leftcol a:hover
{
    color: #1a2ad7 !important;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover
{
    background: right center no-repeat;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover 
{
    background: right center no-repeat;
}

.item a, .item a:hover, .item a:visited, .item a:active, .item a:link
{
    color: #000;
}
 
h2
{
  padding: 4px 4px 4px 6px;
  border: 1px solid #999;
  color: #000;
  background-color: #bdd3d8;
  font-weight:900;
  font-size: medium;
}

h3
{
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #fff;
  background-color: #7cacc1;
  font-weight: normal;
  font-size: medium;
}

p
{
    line-height: 1.3em;
    font-size: small;
}

li
{
    font-size: small;
}

/** Source code */
.source
{
    border: 1px solid #999;
    font-size: 12px;
}

/** Table formatting. */
table.bodyTable
{
    border: 1px solid #999;
    margin-top: 2px;
    margin-bottom: 2px;
}

table.bodyTable th
{
    color: black;
    background-color: #fff;
    text-align: left;
    font-weight: bold;
    border: 0px;
    margin: 0px;
}

table.bodyTable th, table.bodyTable td
{
    font-size: small;
}

table.bodyTable tr.a
{
    background-color: #e9ebff;
    border: 0px;
    margin: 0px;
}

table.bodyTable tr.b
{
    background-color: #e1e3ff;
    border: 0px;
    margin: 0px;
}

table.bodyTable tr.c
{
    background-color: #ffcccc;
    border: 0px;
    margin: 0px;
}

table.bodyTable tr.d
{
    background-color: #bdd3d8;
    border: 0px;
    margin: 0px;
}

.table1
{
    border: 1px solid #999;
    background-image: url(../images/bg_green.gif);
    padding: 4px 4px 4px 4px;
    color: #000;
}
    
.table1c
{
    background-color: #ffffff;
    border: 1px solid #999;
    color: #000;
}
    
.table2
{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    font: lucida grande, geneva, verdana;
    background-color: #fff;
    border: 0px;
    border-left: 1px solid #a1a5a9;
    border-right: 1px solid #a1a5a9;
    background-image: url(../images/bg_green.gif);
    padding: 4px 4px 4px 6px;
    color: #000;
}
    
.table2c
{
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    font: lucida grande, geneva, verdana;
    background-color: #fff;
    border-top: 1px solid #a1a5a9;
    border-bottom: 1px solid #a1a5a9;
    padding: 0px 4px 0px 6px;
    border: 1px solid #999;
    color: #000;
}   

/** Header (section/subsection). */
.header2
{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font: lucida grande, geneva, verdana;
    background-color: #fff;
    border-bottom: 2px solid #3375c3;
    padding: 4px 4px 4px 6px;
    color: #3375c3;
}

.header2shadow
{
    text-align: right;
    font: lucida grande, geneva, verdana;
    height: 0px;
    border: 0px;
}

.header2img
{
    text-align: right;
}
 
.header3
{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font: lucida grande, geneva, verdana;
    background-color: #fff;
    border-bottom: 1px solid #0c9459;
    padding: 4px 4px 4px 6px;
    color: #0c9459;
}

.header3shadow
{
    text-align: right;
    font: lucida grande, geneva, verdana;
    height: 4px;
    background-image: url(../images/nav_shadow.gif);
    border: 0px;
}

.header3img
{
    text-align: right;
}

/** Title of vertical navigation section */
.sidebarnavtitle
{
    width: 150px;
    padding: 4px 4px 4px 6px;
    border-bottom: 2px solid #182aca;
    color: #182aca;
    margin: 0px;
}

/** Space under vertical navigation title */
.sidenavbtm 
{
    width: 200px;
    height: 3px;
}

/** Vertical navigation options */
.sidebar
{
    width: 192px;
    padding: 4px 8px 0px 8px;
    margin: 0px;
    border:0px;
}
    
.sidebar ul
{
    padding-left: 10px;
    padding-bottom: 6px;
    margin: 0px;
    border:0px;
    background-image: none;
 /*   list-style-image: url(../images/btn-i-green.gif) */
    font-size: small;
    padding-bottom: 2px;
}

.sidebar h5
{
    margin: 0;
    padding: 0;
    font-size: small;
}
.sidebar li 
{
    list-style-type: none;
    list-style-position: outside;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0 0.4em;
    padding-left: 14px;
    padding-bottom: 2px;
    line-height: 1.2em;
    font-size: small;
}
.sidebar li.expanded 
{
    background-image: url(../images/btn-i-green.gif);
}
.sidebar li.collapsed
{
    background-image: url(../images/btn-i-darkgreen.gif);
}
.sidebar li.none
{
    background-image: url(../images/btn-i-green.gif);
}

/** Space under vertical navigation options. */
.sidebarbtm
{
    width: 200px;
    height: 2px;
}
